#                           Data Types and Structures

#                                    Theory

**1 . What are data structures, and why are they important?**

‚ñ∂

Data structures are ways to organize, store, and manage data so it can be used efficiently. In Python, data structures help you group and manipulate data in useful formats.

‚ñ∂

1 . Efficient Storage: Help you store data in a structured way.

2 . Faster Operations: Make it easier and quicker to search, insert, delete, and update data.

 3 . Code Clarity: Make your code cleaner and easier to understand.

4 .  Performance: Good choice of data structures can make programs run faster and use less memory.

**2 . Explain the difference between mutable and immutable data types with examples.**

‚ñ∂These can be changed after they are created ‚Äî meaning you can modify, add, or remove elements without creating a new object.

‚ñ∂These cannot be changed after creation. If you try to change them, a new object is created.

Examples:

int,
float

**3 . What are the main differences between lists and tuples in Python?**

‚ñ∂
**Lists:**

* Mutable (can change)

* Use square brackets: [ ]

* Slower but flexible

* More methods (e.g., append, remove)

**Tuples:**

* Immutable (cannot change)

* Use parentheses: ( )

* Faster and memory efficient

* Fewer methods

**4 . Describe how dictionaries store data.**

‚ñ∂Dictionaries store data as key-value pairs using curly braces {}.

Ex : person = {"name": "Alice", "age": 25}

üîπ Keys are unique and used to access values.

üîπ Stored internally using a hash table for fast access.

‚ö´ Keys must be immutable (like strings, numbers)

‚ö´ Values can be any type

**5 . Why might you use a set instead of a list in Python?**

‚ñ∂
‚úÖ Want to automatically remove duplicates

‚úÖ Need fast checks for whether an item exists

‚ùå Don't care about the order of elements

Ex : my_list = [1, 2, 2, 3]

my_set = set(my_list)

**6 .  What is a string in Python, and how is it different from a list ?**

‚ñ∂A string is a sequence of characters (like text).

Example: "hello" is a string.

‚ñ∂A string in Python is a sequence of characters, like "hello", used to represent text.
A list is a collection of items, which can be of any data type (e.g., numbers, strings, etc.).

Strings are immutable ‚Äî you can't change them after creation.
Lists are mutable, so you can add, remove, or change elements.

Strings use quotes (" " or ' '), while lists use square brackets ([ ]).
Each element in a string is a character, but in a list, it can be anything.

Use strings for text, and lists for a group of related values.

**7 .  How do tuples ensure data integrity in Python?**

‚ñ∂Tuples ensure data integrity by being immutable, meaning their values cannot be changed after creation.
This prevents accidental modification of the data.

Because they are fixed, tuples are ideal for storing constant, unchangeable information.
They help keep data safe, consistent, and reliable throughout the program.

**8 . What is a hash table, and how does it relate to dictionaries in Python?**

‚ñ∂A hash table is a data structure that stores data in an associative manner, meaning it maps keys to values. It uses a hash function to compute an index (also called a hash code) into an array of buckets or slots, from which the desired value can be found.

‚ñ∂In Python, a dictionary (dict) is implemented using a hash table under the hood.

Ex :  my_dict = {"apple": 10, "banana": 5}

"apple" is a key.

Python internally hashes "apple" to get an index.

At that index, it stores the value 10.

**9.  Can lists contain different data types in Python?**

‚ñ∂**Yes**, lists in Python **can contain different data types**.

Example:
my_list = [1, "hello", 3.14, True, [5, 6]]


This list contains:
- An integer (`1`)
- A string (`"hello"`)
- A float (`3.14`)
- A boolean (`True`)
- Another list (`[5, 6]`)

Python lists are **flexible** and can store **mixed data types**.

**10 . Explain why strings are immutable in Python.**

‚ñ∂Strings are immutable in Python, meaning they can‚Äôt be changed after creation.
This makes them safe, memory-efficient, and usable as dictionary keys.

**11 .  What advantages do dictionaries offer over lists for certain tasks?**

‚ñ∂
Dictionaries are better than lists when you need to store and access data by a key, not by position.

**Advantages of dictionaries over lists:**

* Faster lookups using keys (O(1) time).

* Key-value pairs make data more meaningful.

* No need to search linearly, like in lists.

* Ideal for tasks like counting items, storing settings, or mapping names to values.

Example:

**Using a dictionary**

student = {"name": "Alice", "age": 20}

**Using a list (less clear)**

student = ["Alice", 20]

**12 . Describe a scenario where using a tuple would be preferable over a list.**

‚ñ∂Use a tuple instead of a list when you want data that should not change.

**Storing coordinates (x, y) of a point:**

point = (10, 20)  # Tuple is perfect here


**Why tuple?**

It‚Äôs immutable (can't be changed by mistake).

It‚Äôs faster and uses less memory than a list.

Makes your intention clear: this data is fixed.

**Perfect for things like:**


Function return values

Fixed configuration

Dictionary keys

**13 . How do sets handle duplicate values in Python?**

‚ñ∂Sets automatically remove duplicate values in Python.

#### Example:
my_set = {1, 2, 2, 3, 3, 3}

print(my_set)  
- Only **unique items** are kept.
- Great for checking **duplicates**, filtering **unique values**, etc.
So, sets are perfect when you want to **store items without repetition**.

**14 .  How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries?**

‚ñ∂  
The **`in`** keyword checks for **presence**, but behaves differently for lists and dictionaries:

#### For **lists**:
Checks if a **value** exists in the list.

fruits = ["apple", "banana"]

print("apple" in fruits)  ‚úÖ True


#### For **dictionaries**:
Checks if a **key** exists (not the value).

person = {"name": "Alice", "age": 25}

print("name" in person)    ‚úÖ True (key)

print(25 in person)     ‚ùå False (25 is a value, not a key)

So, `in` checks **values in lists**, but **keys in dictionaries**.

**15 . Can you modify the elements of a tuple? Explain why or why not.**

‚ñ∂  **No, you cannot modify elements of a tuple** because tuples are **immutable** in Python.

##### Why?
- Once a tuple is created, its **items can't be changed, added, or removed**.
- This makes tuples **safe and reliable** for storing fixed data.

##### Example:
t = (1, 2, 3)

t[0] = 10

If you need to change values, use a **list** instead.  
Tuples are best for **fixed data** like coordinates, dates, or settings.

**16 .  What is a nested dictionary, and give an example of its use case?**

‚ñ∂  
A **nested dictionary** is a dictionary **inside another dictionary**.

##### Example:

students = {
    "Alice": {"age": 20, "grade": "A"},

   "Bob": {"age": 22, "grade": "B"}
}

Here, each student has their **own dictionary** with more info.

### Use case:
Useful for storing **structured data**, like:
- Student records
- Product details
- JSON-style data (like from APIs)

###You can access data like:

print(students["Alice"]["grade"])  

It helps keep related info **organized and easy to access**.

**17 . Describe the time complexity of accessing elements in a dictionary.**

‚ñ∂
Accessing elements in a dictionary has **O(1)** time complexity on average.

#### What that means:
- It takes **constant time** to get a value by key ‚Äî it doesn‚Äôt depend on the size of the dictionary.
- This is possible because dictionaries use a **hash table** internally.

#### Example:

person = {"name": "Alice", "age": 25}

print(person["age"])  # Fast: O(1)


 **Note:**   In rare cases (like many hash collisions), access can take longer ‚Äî but usually, it's very fast.

**18 . In what situations are lists preferred over dictionaries?**

‚ñ∂
Use **lists** when you need to store items in a **specific order** and don‚Äôt need to label them with keys.

#### Situations where lists are preferred:
- **Ordered data** (like steps in a process, items in a queue).
- **Index-based access** (e.g., get the 3rd item).
- **Storing duplicates** (lists allow repeated values).
- When the **relationship between items isn‚Äôt key-value**.

#### Example:
shopping_list = ["milk", "eggs", "bread"]
So, prefer lists for **simple, ordered collections** of items.

**19 .  Why are dictionaries considered unordered, and how does that affect data retrieval?**

‚ñ∂
Dictionaries are considered **unordered** because they are designed for **key-based access**, not for maintaining a sequence like lists do.

#### Why unordered?
- Before **Python 3.7**, dictionaries didn‚Äôt preserve the order of items.
- From **Python 3.7+**, they **do preserve insertion order**, but they‚Äôre still logically unordered because:
  - You **access values by key**, not by position.
  - The main goal is **fast lookup**, not ordered data.

#### How it affects data retrieval:
- You **can‚Äôt access values by index** (like `dict[0]` won‚Äôt work).
- You must use the **key** to retrieve the value.
- Order **doesn‚Äôt affect** performance ‚Äî lookups are still **fast (O(1))**.

#### Example:

person = {"name": "Alice", "age": 25}

print(person["age"])  
So, dictionaries focus on **speed and key-value mapping**, not the order of elements.

**20 .  Explain the difference between a list and a dictionary in terms of data retrieval.**

‚ñ∂
The key difference between a **list** and a **dictionary** in data retrieval is:

##### **List**:
- Access data by **index (position)**.

- Example:

  my_list = ["apple", "banana"]

  print(my_list[0])  

   Output: "apple"

- Slower lookup if you're searching by value (O(n) time).

#### **Dictionary**:
- Access data by **key (name/label)**.
- Example:

  my_dict = {"fruit": "apple", "drink": "juice"}

  print(my_dict["fruit"])

    Output: "apple"

- Much **faster retrieval** by key (O(1) time on average).

# **Practical Questions**

In [2]:
#1 .  Write a code to create a string with your name and print it
name = "Tapash"
print(name)

Tapash

In [3]:
#2 . Write a code to find the length of the string "Hello World"
text = "Hello World"
length = len(text)
print(length)

11

In [4]:
#3 .  Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
slice = text[:3]
print(slice)

Pyt

In [5]:
#4 .  Write a code to convert the string "hello" to uppercase.
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [6]:
#5 .  Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [7]:
#6 .  Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
#7 . Write a code to append the number 10 to the list [1, 2, 3, 4] .
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [9]:
#8 . Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] .
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [10]:
#9 . Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [11]:
#10.  Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [12]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [13]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

In [14]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print(minimum)

5

In [15]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [16]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [17]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [18]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [19]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [20]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [21]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [22]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {
    "name": "Tapash",
    "age": 26,
    "city": "west bengal"
}
print(person)

{'name': 'Tapash', 'age': 26, 'city': 'west bengal'}

In [23]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [25]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [26]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists in the dictionary.

In [27]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'John', 'age': 30}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30}

In [30]:
'''27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)'''
import random

# Create a list of 5 random numbers between 1 and 100
numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
numbers.sort()

# Print the sorted list
print("Sorted list:", numbers)

Sorted list: [43, 61, 74, 75, 96]

In [31]:
#28. Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", words[3])

Element at index 3: date

In [32]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [33]:
#30. Write a code to convert a list of strings into a set
fruits = ["apple", "banana", "cherry", "apple"]
fruits_set = set(fruits)
print(fruits_set)

{'cherry', 'banana', 'apple'}